In [1]:
import pandas as pd
import numpy as np

full_corpus = pd.read_csv(r"C:\Users\rajat\Downloads\Ex_Files_NLP_Python_ML_EssT\Exercise Files\Ch01\01_03\Start\SMSSpamCollection.tsv",sep='\t',header=None)

In [2]:
full_corpus.head()

      0                                                  1
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [12]:
full_corpus.columns = ["Label","Text"]
full_corpus.head()

  Label                                               Text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [14]:
print(full_corpus.shape)

(5568, 2)

In [21]:
print("Ham:{},Spam:{}".format(len(full_corpus[full_corpus['Label']=="ham"]),
                              len(full_corpus[full_corpus['Label']=='spam'])))

Ham:4822,Spam:746

In [23]:
print("Number of NUlls in Label:{}".format(full_corpus['Label'].isnull().sum()))
print("Number of NUlls in Text:{}".format(full_corpus['Text'].isnull().sum()))

Number of NUlls in Label:0
Number of NUlls in Text:0

In [25]:
import re

re_test = 'This is a made up string to test 2 different regex methods'
re_test_messy = 'This      is a made up     string to test 2    different regex methods'
re_test_messy1 = 'This-is-a-made/up.string*to>>>>test----2""""""different~regex-methods'

In [27]:
re.split('\s',re_test)

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [29]:
re.split('\s+',re_test_messy)

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [30]:
re.split('\W+',re_test_messy1)

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [35]:
print(re.findall("\S+",re_test_messy))
print(re.findall("\w+",re_test_messy1))

['This', 'is', 'a', 'made', 'up', 'string', 'to', 'test', '2', 'different', 'regex', 'methods']
['This', 'is', 'a', 'made', 'up', 'string', 'to', 'test', '2', 'different', 'regex', 'methods']

In [37]:

pep8_test = 'I try to follow PEP8 guidelines'
pep7_test = 'I try to follow PEP7 guidelines'
peep8_test = 'I try to follow PEEP8 guidelines'

In [39]:
import re

re.findall('[a-z]+',pep8_test)

['try', 'to', 'follow', 'guidelines']

In [41]:
re.findall('[A-Z]+',pep8_test)

['I', 'PEP']

In [42]:
re.sub('[A-Z]+[0-9]+',"PEP8 Python Styleguide",pep8_test)

'I try to follow PEP8 Python Styleguide guidelines'